elpa
auto-save-list
recentf
elpa
straight
.cache
.mc-lists.el

ido.last
# Compiled
README.el
*.elc

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
transient/*
.lsp*
config.el
Readme.el
custom.el
